<h1>Listing speakers</h1>

<table>
  <thead>
    <tr>
      <th>Make</th>
      <th>Model</th>
      <th>Price</th>
      <th>Max power</th>
      <th>Input impedance</th>
      <th>Height</th>
      <th>Weight</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @speakers.each do |speaker| %>
      <tr>
        <td><%= speaker.make %></td>
        <td><%= speaker.model %></td>
        <td><%= speaker.price %></td>
        <td><%= speaker.max_power %></td>
        <td><%= speaker.input_impedance %></td>
        <td><%= speaker.height %></td>
        <td><%= speaker.weight %></td>
        <td><%= link_to 'Show', speaker %></td>
        <td><%= link_to 'Edit', edit_speaker_path(speaker) %></td>
        <td><%= link_to 'Destroy', speaker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Speaker', new_speaker_path %>
